:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--color-black);

  /* background-color:#FAF0E5 ; */
}

.myFeatured {
  display: none;
}

.previous,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  width: 30px;
  text-align: center;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  z-index: 2;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.circle {
  position: relative;
  bottom: 30px;
  left: center;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.circle:hover {
  background-color: #ff0000bb;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#movieList-Placeholder {
  display: none;
  font-size: 2em;
  margin-left: 90px;
}

.movies {
  display: none;
}

.MovieList {
  display: none;
}

.demo {
  border-image: round;
}

.category {
  float: center;
  width: 93.5%;
  margin-left: 3%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.images:hover{
  background-color: var(--color-primary);
}

.images {
  padding: 2px 0;
  margin-left: 3%;
  border-radius: 15px;
}

h1 {
  font-family: sans-serif;
  color: white;
}
