.grid
{
    display: grid;
    position:relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 25px;
    margin-bottom: 50px;
    max-width: 1800px;


    padding-left: 3%;
    padding-right: 3%;
}

.gridItem
{
    width: 100%;
    height: 120px;
    border-radius: 10px;

    position: relative;
}

.gridImage
{
    width: 100%;
    height: 100%;

    
    object-fit: fill;
}