.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1%;
    row-gap: 25px;
    margin-bottom: 50px;

    margin-left: 3%;
    margin-right: 3%;
    
}

.gridItem
{
    width: 100%;
    position: relative;
}