:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* display: grid; */
  background: var(--color-black);

  /* background-color:#FAF0E5 ; */
}

.logo {
  color: var(--color-white);
  font-size: 30px;
  padding-top: 5px;
}

.logo span {
  color: var(--color-primary);
}

.search-container {
  width: 100%;
  height: 40px;
  padding-left: 100px;
}

.menu-bar {
  background-color: var(--color-black);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.menu-bar input[type="search"] {
  font: inherit;
  font-size: 14px;
  width: 400px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 0 20px;
  line-height: 45px;
  border-radius: 10px;
}

.menu-bar ul {
  list-style: none;
  display: flex;
  padding-top: 1px;
}

.menu-bar ul li {
  /* text-align: center; */
  position: relative;
  padding: 10px 40px;
}

.down {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
  height: px transition all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 5px;
  padding-top: 0px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 20px;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: inline-block;
  margin: 5px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: inline-block;
  position: absolute;
  left: 150px;
  top: -10%;
  background-color: var(--color-black);
}

.dropdown-menu-2 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-2 {
  display: block;
  position: absolute;
  left: 150px;
  top: -10%;
  background-color: var(--color-black);
}

p#selectedid {
  display: inline-block;
}

ul#drop {
  display: inline-block;
  list-style: none;
  position: absolute;
  margin: 0;
  left: 305px;
  top: 50px;
  width: 400px;
  background-color: var(--color-black-1);
  padding: 0;
}

ul#drop li {
  text-align: left;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
}

ul#drop li a {
  margin: 0;
  font-size: 20px;
}

ul#drop li a img {
  width: 100%;
  height: 10%;
  display: inline-block;
  box-sizing: border-box;
}

ul#drop li:hover {
  background-color: #57606f;
  width: 100%;
}

.myFeatured {
  display: none;
}

.previous,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  width: 30px;
  text-align: center;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  z-index: 2;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.circle {
  position: relative;
  bottom: 30px;
  left: center;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.circle:hover {
  background-color: #ff0000bb;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.kefu_q1 {
  position: fixed;
  z-index: 1001;
}

.kefu_q1 ul li i {
  font-size: 35px;
  color: #fff;
  background: var(--color-primary);
  border-radius: 20px;
}

.kefu_q1 ul li {
  position: relative;
  width: 45px;
  height: 45px;
  display: none;
  background: #1b1b1d;
  margin-bottom: 1px;
}

.kefu_q1 ul li:first-child {
  height: 30px;
  font-family: "Arial";
  background-position: 0 0;
  color: #fff;
  cursor: pointer;
}

.kefu_q1 ul li a.animate {
  position: absolute;
  left: 0;
  width: auto;
  height: 45px;
  line-height: 45px;
  color: transparent;
}

.watch {
  position: relative;
  transform: translate(1%, -3%);
}

.image {
  width: 320px;
  height: 110px;
  margin: 7px;
  overflow: hidden;
  cursor: pointer;
}

.watch-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.icons {
  position: absolute;
  right: 20px;
  bottom: 0;
}

.icon {
  text-decoration: none;
  color: #2c3e50;
  font-size: 20px;
  margin: 0 10px;
  transform: translateY(25px);
}

.image:hover .icon {
  transform: translateY(0px);
}

.icon:nth-child(1) {
  transition: transform 0.4s 0.05s, color 0.4s;
}
.icon:nth-child(2) {
  transition: transform 0.4s 0.1s, color 0.4s;
}

.icon:hover {
  color: #c0392b;
}

.watch-content::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 0px;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  transition: 0.5s;
}

.watch-content:hover::before {
  height: 50px;
}

.top {
  position: relative;
  transform: translate(1%, -3%);
}

.images {
  width: 250px;
  height: 90px;
  margin: 5px;
  overflow: hidden;
  cursor: pointer;
}

.top-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.iconstop {
  position: absolute;
  right: 10px;
  bottom: 0.7em;
}

.icontop {
  text-decoration: none;
  color: #2c3e50;
  font-size: 20px;
  margin: 0 5px;
  transform: translateY(50px);
}

.images:hover .icontop {
  transform: translateY(0px);
}

.icontop:nth-child(1) {
  transition: transform 0.4s 0.05s, color 0.4s;
}
.icontop:nth-child(2) {
  transition: transform 0.4s 0.1s, color 0.4s;
}

.icontop:hover {
  color: #c0392b;
}

.top-content::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.5em;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 0px;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  transition: 0.5s;
}

.top-content:hover::before {
  height: 40px;
}

.categoriesPhoto:hover {
  background-color: var(--color-primary);
}

.formatWatch {
  padding: 20px 0;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}

.top5 {
  padding: 20px 0;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}

.recommend {
  padding: 20px 0;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}

.categories {
  padding: 20px 0;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}

.watchList,
.top_5,
.recommended,
.categoriesText,
.demoBar {
  text-indent: 3%;
  font-size: 25px;
  color: var(--color-white);
}

.closure {
  float: center;
  width: 94%;
  margin-left: 3%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#movieList-Placeholder {
  display: none;
  font-size: 2em;
  margin-left: 90px;
}

.movies {
  display: none;
}

.MovieList {
  display: none;
}

.demo {
  border-image: round;
}
